# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# # dependencies
# /node_modules
# /.pnp
# .pnp.js

# # testing
# /coverage

# # production
# /build

# # misc
# .env
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*


# =========================
# Frontend
# =========================
frontend/node_modules
frontend/build
frontend/dist
frontend/.env

# =========================
# Backend
# =========================
backend/node_modules
backend/.env

# =========================
# Environment Files
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Coverage & Logs
# =========================
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Package Manager
# =========================
.pnp
.pnp.js